@import "common.css";

/* mobile size */

@media screen and (max-width: 767px) {
    
    header {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}


