@import "common.css";
@import "button.css";

/* body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(49, 218, 49);
    border: 1px solid black;
   } */

   /* header {
    display: flex;
    justify-content:space-between;
    align-items: center;
} */

main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    "mc mc ab"
    "mc mc mo" ;
}

.profile-pic {
    width: 300px;
    height: 200px;
}
.about {
    border: 5px solid orange;
    grid-area: ab;
    background-color: yellow;
    padding: 15px;
    margin: 10px;
}

.article {
    border: 5px solid orange;
    background-color: yellow;
    grid-area: mc;
    padding: 10px;
    margin: 10px;
}

.more {
    border: 5px solid orange;
    grid-area: mo;
    padding: 15px;
    background-color: yellow;
    margin: 10px;
}

/* footer {
    border: 5px solid orange;
    display: flex;
    background-color: yellow;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
} */